body {
    padding-top: 150px;
    padding-bottom: 20px;
    background-color: #2a2a2a;
}

h1 {
    color: #f9f9f9;
    text-align: center;
}
p {
    color: #f9f9f9;
    font-family: Calibri;
    font-size: 18px;
}
input{
    color:black;
}

form
{
    color:white;
}

/*====================================HEADER==================================*/
.header_element {
    padding-left: 30px;
    font-size: 20px;
    padding-top: 25px;
    color: white;
    
}

.header_element:hover{
    text-decoration: underline;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}


/* ==================================INDEX BODY ==============================*/
.carousel-inner {
}
/*===================================CELL====================================*/
.row {
    width: 100%;
    padding-top: 100px;
}
.contain
{
    display:flex; /* устанавливает гибкую ориентацию*/
    justify-content: space-evenly; /* отображение контента, всчитывает одинаковый отступ*/
    flex-wrap: wrap; /* чтобы блоки переносились*/
}
.cell {
    width: 250px;
    height: 300px;
    background-color: #d1d1d1;
    margin-left: 60px;
    margin-right: 40px; 
    text-align: center;
    margin-top: 30px;
    
}

.cell_img {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: 65%;
    background-color: black;                  
}

.cell_text{

    margin-top: 25px;
    font-family: Calibri;
    font-size: 22px;
    font-weight:bold;
}

/*===================================NEWS_CELL====================================*/
.news_cell {
    width: 100%;
    height: 200px;
    background-color: #f9f9f9;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */

#myCarousel
{
    width: 800px;
    margin-left:15%; 
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.logo{
}
.navbar  {
    background-color: #af8515;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
