@{
    ViewData["Title"] = "Contact";
}


<body>
    <h1>
        Каталог товаров
    </h1>

    <div class="contain">

        <div class="cell">
            <div class="cell_img">

            </div>
            <div class="cell_text">
                Some Text
            </div>

        </div>

        <div class="cell ">
            <div class="cell_img">

            </div>
            <div class="cell_text">
                Some Text
            </div>

        </div>
        <div class="cell ">
            <div class="cell_img">

            </div>
            <div class="cell_text">
                Some Text
            </div>

        </div>

        <div class="cell">
            <div class="cell_img">

            </div>
            <div class="cell_text">
                Some Text
            </div>

        </div>

        <div class="cell ">
            <div class="cell_img">

            </div>
            <div class="cell_text">
                Some Text
            </div>

        </div>
        <div class="cell ">
            <div class="cell_img">

            </div>
            <div class="cell_text">
                Some Text
            </div>

        </div>


    </div>



   


</body>