@{
    ViewData["Title"] = "Регистрация";
}


<body>
    <h1>
        Новости
    </h1>

    <div class="contain">

        <div class="news_cell">
            <div class="news_img">

            </div>
            <div class="news_name">
                Some Text
            </div>
            <div class="news_desc">
                description
            </div>
            <div class="news_date">
                21.12.2018
            </div>
            <div class="news_link">
                Читать далее...
            </div>
            
    </div>


</body>