@model Unity_State.Models.ClientModel

@{
    ViewData["Title"] = "User";
}

<h2>User</h2>
@if (@Model == null)
{
    <p> Вы не вошли </p>

}
else
{
    <h4>ClientModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
           login : @Model.login
           age : @Model.age
           email : @Model.email

        </div>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
